/* Body Code */

body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    background-image: url('../images/background.png');
    display: flex;
    flex-direction: column;
}

/* Header Code */

header{
    background-color: #ffffff;
    border-bottom: #cccccc solid 2px;
    display: inline-flex;
    min-height: 90px;
    width: 100%;
}

header div#wrapper{
    display: block;
    height: 90px;
    margin: 0 auto;
    width: 960px;
}

header div#wrapper h1{
    background-color: #4aaaa5;
    color: #ffffff;
    display: block;
    float: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 28px;
    font-weight: bold;
    height: 90px;
    line-height: 90px;
    padding: 0px 1.5em;
}

header div#wrapper ul{
    display: block;
    float: right;
    font-size: 0;
    list-style-type: none;
    text-align: left;
}

header div#wrapper ul li{
    color: #777777;
    display: inline-block;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    height: 90px;
    line-height: 90px;
    text-align: center;
}

header div#wrapper ul li a{
    color: inherit;
    padding: 0 1em;
    position: relative;
    text-decoration: none;
}

header div#wrapper ul li:nth-child(even){
    -moz-user-select: none;
    -webkit-user-select: none;
    border-right: #cccccc solid 1px;
    display: inline;
    margin: 0 0.5em;
    position: relative;
    user-select: none;
}

header div#wrapper ul li a:before{
    content: '{';
    color: rgba(119, 119, 119, 0.5);
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    left: 2px;
    line-height: 87px;
    position: absolute;
    opacity: 0;
    transition: oapcity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
}

header div#wrapper ul li a:after{
    content: '}';
    color: rgba(119, 119, 119, 0.5);
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    line-height: 87px;
    position: absolute;
    right: 2px;
    opacity: 0;
    transition: oapcity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
}

header div#wrapper ul li a:hover:before,
header div#wrapper ul li a:hover:after{
    opacity: 1;
}

/* Middle Section Code */

div#middle{
    flex: 1 0 auto!important;
    margin: 35px auto;
    min-height: calc(100% - 220px);
    width: 100%;
}

div#middle section, div#middle section.portfolio, div#middle section.contact{
    background-color: #ffffff;
    border: #dddddd solid 1px;
    box-sizing: border-box;
    display: block;
    height: auto;
    margin: 0 auto;
    min-height: 300px;
    width: 960px;
}

div#middle section h1, div#middle section.contact h1{
    border-bottom: #dddddd solid 3px;
    color: #4aaaa5;
    display: block;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 28px;
    font-weight: bold;
    height: 100px;
    line-height: 100px;
    margin: 0px 30px;
    width: auto;
}

div#middle section.portfolio h1{
    flex-basis: 100%;
    margin: 0px 30px 40px;
    width: 100%;
}

div#middle section div#picture{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-image: url('../images/personal.jpg');
    background-position: 0px -20px;
    background-size: cover;
    border: #cccccc solid 1px;
    box-sizing: border-box;
    float: left;
    height: 135px;
    margin: 30px;
    width: 180px;
}

div#middle section p{
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 28px;
    margin: 30px;
}

/* Contact Page Code */

div#middle section.contact h2{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 18px;
    line-height: 1.2;
    margin: 0 30px 5px;
}

div#middle section.contact h2:nth-of-type(1){
    margin: 30px 30px 5px;
}

div#middle section.contact input,
div#middle section.contact textarea{
    border: #cccccc solid 1px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    line-height: 36px;
    margin: 0px 30px 20px;
    padding: 0px 10px;
    position: relative;
    width: calc(100% - 80px)
}

div#middle section.contact div#button{
    background-color: #4aaaa5;
    display: block;
    height: 40px;
    margin: 0px 30px 30px;
    width: 115px;
}

div#middle section.contact div#button a{
    color: #ffffff;
    display: block;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

/* Portfolio Page Code */

div#middle section.portfolio{
    display: flex!important;
    flex-wrap: wrap;
}

div#middle section.portfolio div#wrapper{
    margin: 0px 30px;
}

div#middle section.portfolio div#wrapper div.thumbnail{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: #cccccc solid 1px;
    box-sizing: border-box;
    display: inline-block;
    height: 205px;
    margin: 0px 40px 55px 0px;
    width: 275px;
}

div#middle section.portfolio div#wrapper div.thumbnail:last-of-type{
    margin: 0px 40px 65px 0px;
}

div#middle section.portfolio div#wrapper div.thumbnail h3{
    background-color: #4aaaa5;
    color: #ffffff;
    display: block;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 55px;
    margin: 137px 0 0 0;
    text-align: center;
    width: 100%;
}

div#middle section.portfolio div#wrapper div.thumbnail a{
    display: block;
    height: 205px;
    position: absolute;
    width: 275px;
}

div#middle section.portfolio div#wrapper div.thumbnail:nth-of-type(1){
    background-image: url('../images/image_01.jpg');
}

div#middle section.portfolio div#wrapper div.thumbnail:nth-of-type(2){
    background-image: url('../images/image_02.jpg');
}

div#middle section.portfolio div#wrapper div.thumbnail:nth-of-type(3){
    background-image: url('../images/image_03.jpg');
}

div#middle section.portfolio div#wrapper div.thumbnail:nth-of-type(4){
    background-image: url('../images/image_04.jpg');
}

div#middle section.portfolio div#wrapper div.thumbnail:nth-of-type(5){
    background-image: url('../images/image_05.jpg');
}

/* Footer Code */

footer{
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    display: block;
    flex-shrink: 0;
    height: 50px;
    min-width: 100%;
    bottom: 0;
}

/* Media Queries */

@media screen and (max-width: 980px) {
    header div#wrapper{
        width: 940px;
    }
    
    div#middle section, div#middle section.portfolio, div#middle section.contact{
        width: 940px;
    }
}

@media screen and (max-width: 768px) {
    header div#wrapper{
        width: 748px;
    }
    
    div#middle section, div#middle section.portfolio, div#middle section.contact{
        width: 748px;
    }
}

@media screen and (max-width: 640px) {
    header{
        min-height: 180px;
        position: static;
        width: 100%;
    }

    header div#wrapper{
        margin: 0 auto;
        width: 100%;
    }

    header div#wrapper h1{
        order: 1;
        padding: 0;
        text-align: center;
        width: inherit;
    }

    header div#wrapper ul{
        order: 2;
        margin: 0px;
        text-align: center;
        width: 100%;
    }

    div#middle section, div#middle section.portfolio, div#middle section.contact{
        margin: 0 20px;
        width: calc(100% - 40px);
    }

    div#middle section.portfolio{
        justify-content: center;
    }

    div#middle section.portfolio div.thumbnail{
        margin: 20px!important;
    }
}